/* CSS RESET */
* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}
/* Root styles */
:root {
  /* TODO: replace the font family with Unica77LLWeb-Regular, sans-serif; */
  --dark-900: black;
  --light-900: white;
  --light-500: #ddd;
  --yellow-900: #ffd300;
  --blue-900: blue;

  background-color: var(--dark-900);
  color: var(--light-900);
}
.circle-top-right {
  background-color: var(--blue-900);
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  width: min(70vw, 1200px);
  height: min(70vw, 1200px);
  border-radius: 100rem;
}
/* header */
header {
  color: white;
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 1600px;
  margin-inline: auto;
}
.logo-wrapper {
  width: 100px;
}
.logo {
  width: 100%;
}
.devrev-header {
  font-size: 2rem;
}
/* form */
body {
  min-height: 100vh;
}
main {
  height: 100%;
}
.center-div {
  min-height: 60vh;
  background-color: var(--yellow-900);
  width: 100%;
  display: flex;
  align-items: center;
}
.form-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 1600px;
  z-index: 1;
  margin-inline: auto;
}
.form-intro {
  color: white;
  background-color: var(--dark-900);
  padding: 2rem;
  border-radius: 8px;
  word-spacing: 0.5ch;
  font-size: 1.25rem;
  align-self: stretch;
}
form {
  background-color: var(--light-900);
  padding: 3rem;
  color: black;
  width: 100%;
}
.intro-heading {
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}
.form-heading {
  text-align: center;
  font-size: 2.25rem;
}
.input-fields-wrapper {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.input-control-group {
  width: 100%;
}
.input-control-group label {
  display: inline-block;
  min-width: 100px;
}
.input-control-group input {
  display: inline-block;
  background-color: #ddd;
  width: 60%;
  border-bottom: 2px solid transparent;
  padding: 0.5rem;
}
.input-control-group select {
  display: inline-block;
  background-color: #ddd;
  width: 60%;
  border-bottom: 2px solid transparent;
  padding: 0.5rem;
}
.input-control-group option {
  background-color: red;
}
.input-control-group input:focus {
  outline: none;
  border-bottom: 2px solid var(--blue-900);
}
.submit-section {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn {
  padding: 0.5rem;
  border-radius: 4px;
  transition: 0.3s transform;
}
.login-btn {
  border-radius: 4px;
  background-color: var(--yellow-900);
  color: black;
}
.submit-btn {
  border-radius: 4px;
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  .input-control-group > label {
    margin-bottom: 10px;
  }
  .input-control-group > input {
    width: 100%;
  }
  .submit-section .login {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .form-container {
    flex-direction: row;
  }

  form {
    flex-grow: 1;
    border-left: 10px solid transparent;
    border-radius: 8px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }
  .form-intro {
    flex: min(400px, 40%);
  }
}
@media (min-width: 1024px) {
  .input-fields-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .btn:hover {
    transform: scale(0.9);
  }
  .submit-btn:hover {
    background-color: var(--yellow-900);
    color: var(--dark-900);
    cursor: pointer;
  }
  .login-btn:hover {
    background-color: var(--dark-900);
    color: var(--yellow-900);
    cursor: pointer;
  }
}
